frsi-ejb/src/pdfconvert-wsdls/WordToPdfConvertWS.asmx.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx">
      <s:element name="convert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="pdfFileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="convertSoapIn">
    <wsdl:part name="parameters" element="tns:convert"/>
  </wsdl:message>
  <wsdl:message name="convertSoapOut">
    <wsdl:part name="parameters" element="tns:convertResponse"/>
  </wsdl:message>
  <wsdl:portType name="WordServiceSoap">
    <wsdl:operation name="convert">
      <wsdl:input message="tns:convertSoapIn"/>
      <wsdl:output message="tns:convertSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WordServiceSoap" type="tns:WordServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="convert">
      <soap:operation soapAction="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx/convert" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WordServiceSoap12" type="tns:WordServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="convert">
      <soap12:operation soapAction="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx/convert" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordService">
    <wsdl:port name="WordServiceSoap" binding="tns:WordServiceSoap">
      <soap:address location="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx"/>
    </wsdl:port>
    <wsdl:port name="WordServiceSoap12" binding="tns:WordServiceSoap12">
      <soap12:address location="http://localhost:12525/WordToPdfConvert/WordToPdfConvertWS.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>